.sub{
    background-color: rgb(211, 42, 42);
    height: 40px;
    border: none;
    color: white;
    width: 130px;
    border-radius: 2px;
}
.join{
    height: 40px;
    width:60px ;
    color: rgb(62, 156, 156);
    border-color: rgb(110, 190, 221);
    border-radius: 2px;
    
}
.tweet{
    color: white;
    background-color:rgb(23, 177, 243);
    height: 40px;
    width: 77px;
    border: none;
    border-radius: 40px;

}